<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header> <% include ../partials/header %></header>

  <ul>
    <% data.forEach(function(item){ %>
    <%if (item.measurements.occupancy === true) { %>
    <li class="<%= item.measurements.occupancy%>">
      <a href="room/<%= item.url%>">
        <%= item.roomName%></a> <%= item.measurements.temperature%> </li>
    <% } %>
    <% }); %>
  </ul>

  <% data.forEach(function(item){ %>
  <%if (item.measurements.occupancy === false) { %>
  <li class="<%= item.measurements.occupancy%>">
    <a href="room/<%= item.url%>">
      <%= item.roomName%></a> <%= item.measurements.temperature%> </li>
  <% } %>
  <% }); %>
  </ul>
  <footer><% include ../partials/footer %></footer>

</body>

</html>
